{% block DisplayComponent %}
    <div class="form-container">
        {% if component.form %}
            {% if component.form.template %}
                {{ render(controller('FormBundle:Display:renderForm', {
                    request: app.request,
                    formUuid: component.form.uuid,
                    defaultData: component.data,
                    template: component.form.template,
                    submissionLimit: component.submissionLimit ?? null,
                    submissionLimitMessage: component.submissionLimitMessage ?? null,
                    counterMessage: component.counterMessage ?? null,
                })) }}
            {% else %}
                {{ render(controller('FormBundle:Display:renderForm', {
                    request: app.request,
                    formUuid: component.form.uuid,
                    defaultData: component.data,
                    submissionLimit: component.submissionLimit ?? null,
                    submissionLimitMessage: component.submissionLimitMessage ?? null,
                    counterMessage: component.counterMessage ?? null,
                })) }}
            {% endif %}
        {% else %}
            <div class="jumbotron text-center">
                {{ 'Edit Form' }}
            </div>
        {% endif %}
    </div>
{% endblock %}
